<!--  Body Wrapper -->

<!-- Sidebar scroll-->
<div th:fragment="menu">
    <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./Menu.html" class="text-nowrap logo-img">
            <img src="../assets/images/logos/logo-light.svg" alt=""/>
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
        </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                <span class="hide-menu">Đối tượng</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./Menu.html" aria-expanded="false">
                    <span>
                        <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                    </span>
                    <span class="hide-menu">Quản lý đối tượng</span>
                </a>
            </li>
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                <span class="hide-menu">UI COMPONENTS</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                    <span>
                        <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                    </span>
                    <span class="hide-menu">Buttons</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
                    <span>
                        <iconify-icon icon="solar:danger-circle-bold-duotone" class="fs-6"></iconify-icon>
                    </span>
                    <span class="hide-menu">Alerts</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                    <span>
                        <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone"
                                      class="fs-6"></iconify-icon>
                    </span>
                    <span class="hide-menu">Card</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                    <span>
                        <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
                    </span>
                    <span class="hide-menu">Forms</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">
                    <span>
                        <iconify-icon icon="solar:text-field-focus-bold-duotone" class="fs-6"></iconify-icon>
                    </span>
                    <span class="hide-menu">Typography</span>
                </a>
            </li>
            <li class="nav-small-cap">
                <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">

                    <span class="hide-menu">Login</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                    <span>
                    </span>
                    <span class="hide-menu">Register</span>
                </a>
            </li>
            <li class="nav-small-cap">
                <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                    <span>
                    </span>
                    <span class="hide-menu">Icons</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">

                    <span class="hide-menu">Sample Page</span>
                </a>
            </li>
        </ul>
    </nav>
    <script th:src="@{../assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{../assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
    <script th:src="@{../assets/libs/simplebar/dist/simplebar.js}"></script>
    <script th:src="@{../assets/js/sidebarmenu.js}"></script>
    <script th:src="@{../assets/js/app.min.js}"></script>
    <script th:src="@{../assets/js/dashboard.js}"></script>
</div>



