<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách người dùng</title>
    <link href="bootstrap/css/bootstrap.min.css/" rel="stylesheet">
</head>
<body class="container">
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>